@keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}
@keyframes slideRight {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
#tech-skill-list,#soft-skill-list,#hobby-list,#lang-list{
  opacity: 0;
  animation: slideTop 1s ease forwards;
}